body {
  background: #808080;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.a,
.d {
  display: flex;
  flex-grow: 2;
  border: 0.2em solid #000;
  margin: 0.5em;
}

.b,
.c {
  display: flex;
  flex-grow: 3;
  border: 0.2em solid #000;
  margin: 0.5em;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .a,
  .b,
  .c,
  .d {
    margin: 0.5em;
  }
}
